# Database connection string
DATABASE_URL=host=/var/run/postgresql dbname=lmha3 user=lukas

# MQTT Broker credentials
MQTT_HOST=solar.lluki.me
MQTT_PORT=1884
MQTT_USER=admin
MQTT_PASSWORD=freebird

# Service configuration
INSTANCE_ID=lmha3-dev
INSTANCE_PRIORITY=10

# Debug flags
# LMHA_SCHEDULER_DEBUG=1
