# Database connection string
LMHA_DATABASE_URL=host=/var/run/postgresql dbname=lmha3 user=user

# MQTT Broker credentials
LMHA_MQTT_HOST=localhost
LMHA_MQTT_PORT=1883
LMHA_MQTT_USER=admin
LMHA_MQTT_PASSWORD=changeme

# Service configuration
LMHA_INSTANCE_ID=lmha3-dev
LMHA_INSTANCE_PRIORITY=10

# Debug flags
LMHA_SCHEDULER_DEBUG=1
